/**
 * Theme:	Flat Blocks Classic
 * File:	custom-styles.css
 * 
 * The stylesheet for the theme's custom block styles
 *
 * @package flat-blocks
 */

/*--------------------------------------------------------------
# Alternate Button Styles
--------------------------------------------------------------*/

/* Default Button Alt */
.is-style-default-alt.wp-block-button .wp-block-button__link {
	border-radius: 0;
}

/* Outline Button Alt */
.is-style-outline-alt.wp-block-button .wp-block-button__link {
	border-width: 3px;
	border-style: solid;
	border-color: inherit;
	border-radius: 0;
	padding: calc(var(--wp--preset--spacing--30) - 3px) calc(var(--wp--preset--spacing--40) - 3px)
}
